$color_light: #f0f0f0;
$color_dark: #222;
$font1: 'Roboto', sans-serif;
$font2: 'Inter', sans-serif;
$border_changes: 1px solid rgba(255,153,153,0.2);

.Landing{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

    h1{
        font-family: $font1;
        font-size: 150px;
        font-weight: 700;
    }
    h3{
        font-family: $font2;
        font-weight: 900;
        font-size: 40px;
    }
    h1, h3{
        color: $color_light;
    }

    div{
        transform: translateX(-5%);
    }

    background-color: $color-dark;
}

.blackBar{
    height: 60px;
    background-color: black;
    //width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .downArrow{
        color: #333;
        font-size: 90px;
        transition: 0.3s;
        animation: bounce 3s infinite;
        animation-timing-function: linear;
    }
    
    .downArrow:hover{
        color: $color_light;
        cursor: pointer;
        transform: translateY(0);
        animation-play-state: paused;
    }
}

@keyframes bounce {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(0);
    }
    75%{
        transform: translateY(4px);
    }
  }


//define colors outside of scss
//define font break points
